.disp {
  max-height: 52px;
  max-width: 232px;
  border-radius: 6px;
  padding: 4px 8px;
  background-color: #F3F4F6;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 36px;
  font-weight: 800;
  line-height: 44px;
}